/* 
    Created on : Dec 26, 2016, 5:32:49 PM
    Author     : https://github.com/AJ-7885
*/


.btnPackage{
    color: white;
    text-align: center;
    margin:0px; padding:0px;
    @media  (min-width: 768px)
        {
        display: none;
    }
}

.btnPackageLeft{
    /*@extend .btnPackage;*/
    background: $color-primary;
    height: 100px;
    margin:20px 5px 20px 30px; 
    padding:10px;
    font-size: 20px;

    h1{
        font-weight: lighter;    
    }
    h2{
        margin-top:10px; 
    }
    .arrow-up {
        z-index: 10;
        position: absolute;
        top: 100px;
        left: 47%;
        content: '';
        width: 0px;
        height: 0;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        border-bottom: solid 25px white;
    }
}
.btnPackageRight{
    background: $color-skyblue;
    height: 100px;
    margin:20px 30px 20px 5px; 
    padding:10px;
    font-size: 20px;

    h1{
        font-weight: lighter;    
    }
    h2{
        margin-top:10px;
    }
    .arrow-up {
        display: none;
        z-index: 10;
        position: absolute;
        top: 100px;
        left: 40%;
        content: '';
        width: 0px;
        height: 0;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        border-bottom: solid 25px white;
    }
}




.package{
    height: 612px; 
    border: 2px solid $color-lighter-orange;
    border-radius: 5px;
    margin-top:44px;
    margin-right: 30px;
    display: block;
    @media  (max-width: 767px)
        {
        width: 100%; 
        margin-right: 0px;
        border: none;
        margin-top:100px;
    }
    @media  (max-width: 991px) and (min-width: 768px)
        {
        width: 250px; 
        margin-right: 20px;
         display: block;
    }
    @media  (max-width: 1199px) and (min-width: 992px)
        {
        width: 323px; 
        display: block;

    }
    @media  (min-width: 1200px)
        {
        width: 370px; 
        margin-right: 30px;
        display: block;
    }


}

.package-right{
    @extend .package;   
    @media  (max-width: 767px)
        {
        display:none;
    }
     @media  (min-width: 768px)
        {
        display:block;
    }
}

.package-left{
    @extend .package; 
        @media  (min-width: 768px)
        {
        display:block;
    }
}

.topSeller{
    position: relative;
    top:-5px;
    left: -20px;

    @media  (max-width: 767px)
        {
        display: none;
    }

    h2{
        transform: rotate(-45deg);
        color: white;
        font-size: 13px;
        line-height: 19px;
        font-weight: bold;
        position: absolute;
        top:34px;
        left: 10px;
    }
}

.notActive{
    opacity: 0.0;
}

.package-title{
    font-size: 20px;
    margin-top: -100px !important; 
    color: $color-lighter-orange;
    text-align: center;


    @media  (max-width: 991px) and (min-width: 768px)
        {
        font-size: 13px !important;

    }
    @media  (max-width: 1199px) and (min-width: 992px)
        {


    }
    @media  (min-width: 1200px)
        {
        margin-top: 5px;
        margin-bottom: 10px;
    }

}


//--------------------------------------------------
//Package featured icons section

ul.features-icons{ 
    li {
        line-height: 20px;
        margin: 0;
        display: block;
        float: left;
        color: $color-dark;
        background-repeat: no-repeat;
        height: 110px;
        width: 33.33%;
        box-sizing: border-box;
        position: relative;
        text-align: center;

        span {
            display: block;
            position: absolute;
            bottom: 0;
            height: 50px;
            font-size: 15px;
            line-height: 15px;
            text-align: center;
            width: 100%;
        }
    }

    .plus-orang{
        content: "";
        img{
            width: 20px;
            height: 20px;
        }
    }

    .logoIcon { 
        img{
            width: 42px;
            height: 42px;

        }
        span{
            top:55px; 

            @media  (max-width: 991px) and (min-width: 768px)
                {
                font-size:10px;
            }
        }
        @media  (max-width: 991px) and (min-width: 768px)
            {
            width: 32px;
            font-size:10px;
        }
    }

    .cameraIcon{
        margin-bottom: -30px;
        top:-60px;
        right:15px;

        img{
            width: 84px;
            height: 111px;

        }

        span{
            left: 15px;
            top:115px;
            @media  (max-width: 991px) and (min-width: 768px)
                {
                font-size:10px;
                left: 25px;
            }
        }

        @media  (max-width: 991px) and (min-width: 768px)
            {
            width: 50px;
            font-size:10px;
            right:-20px;
        }

        &:before,after {
            position: absolute;
            left: 0px;
            top: 60px;
            display: inline-block;
            content: "";
            background-image: url(../..//..//_/img/plus.svg);
            width: 24px;
            height: 24px;
            background-size: 24px 24px;

            @media  (max-width: 991px) and (min-width: 768px)
                {
                width: 15px;
                height:  15px;
                background-size: 15px 15px;
                left:  5px;
            }
        }

        &:after {
            position: absolute;
            right:  -20px;
            top: 60px;
            display: inline-block;
            content: "";
            background-image: url(../..//..//_/img/plus.svg);
            width: 24px;
            height: 24px;
            background-size: 24px 24px;

            @media  (max-width: 991px) and (min-width: 768px)
                {
                width: 15px;
                height:  15px;
                background-size: 15px 15px;
                right:  -55px;
            }
        }

    }

    .cloud{

        img{
            width: 70px;
            height: 40px;
        }

        span{
            top:55px;  
            @media  (max-width: 991px) and (min-width: 768px)
                {
                font-size:10px;
                left: 15px;
            }
        }

        @media  (max-width: 991px) and (min-width: 768px)
            {
            width: 48px;
            left:70px;

        }
    }
}

//--------------------------------------------------
//Package featured list section

.featured-list-01{
    background-color: $color-orange;
    height: 89px;
    list-style-type: none;
    color: $color-white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 35px;
    padding-top: 5px;

    @media  (max-width: 767px)
        {
        padding-left: 30%;
    }//media max-767

    li {
        display: block;
        margin: 0;
        padding-left: 40px;
        text-align: left;

        small{
            font-style: normal;
            font-size: 15px;
            font-weight: lighter;

            @media  (max-width: 991px) and (min-width: 768px)
                {
                font-size: 12px;
            }//media-max-901-min-768
        }//small
    }//li

    li.checked{
        background-image: url('../..//..//_/img/check-white.svg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 19px 17px;
    }//li.checked

    @media  (max-width: 991px) and (min-width: 768px)
        {
        font-size: 16px;
        padding-left: 15px;
        padding-top: 15px;
    }//media-max-901-min-768
}//featured-list-01

.featured-list-02{
    @extend .featured-list-01;
    background-color: $color-white;
    height: 100px;
    color: $color-dark;
    font-size: 20px;
    font-weight: lighter;
    li.checked{
        background-image: url('../..//..//_/img/check.svg');
    }//li.checked
    @media  (max-width: 991px) and (min-width: 768px)
        {
        font-size: 15px;
    }//media-max-901-min-768
}//featured-list-02

//--------------------------------------------------
//Package price & call to action section

.moreDetails{
    font-size: 16px;
    line-height: 23px;
    font-weight: lighter;
    color:$color-primary;
    text-align: center;
}//moreDetails

.price{
    color:$color-red;
    text-align: center;
    display: block;
    font-size: 66px;
    line-height: 99px;
    font-weight: bold;

    small{
        font-size: 15px; 
        font-weight: lighter;
        sup{
            font-size: 15px; 
            margin-left: 0px; 
        }//sup
    }//small

    sup{
        font-size: 40px;
        margin-left: -18px; 
    }//sup
}//price

.topSellerMobile {
    color: white;
    background-color: red;
    width: 80px;
    height: 80px;
    text-align: center;
    transform: rotate(-45deg);
    border-radius: 50%;
    position: absolute;
    left: 70%;
    bottom: 250px;
    font-size: 19px;
    h1{
        position: absolute;
        left: 8px;
        top:27px;
    }//h1
    @media  (min-width: 767px)
        {
        display:none;
    }//media-min-767
}//topSellerMobile
.cta{
    margin-top: -20px;
    text-align: center;
    .cta-btn {
        background-color: $color-primary;
        border: none;
        height: 60px;
        border-radius: 8px;
        color:white;
        width: 75%;
        font-size: 25px;
        line-height:36px; 
    }//cta-btn
}//cta