<!DOCTYPE html>
<!--  Author : https://github.com/AJ-7885- 27.DEC.2016 -->
<html lang="de-DE" ng-app="smartFrog" ng-cloak >

    <head>
        <title>Frontend shopping card sample</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="_/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="shoppingCardCtl">
        
        <section class="container " id="product-packages" >
            <article class="row  centered">
                <div class="btnPackage col-xs-6">
                    <div class="btnPackageLeft" ng-click="displayPackage('btnPackageLeft')">
                        <h1>Komplettlösung</h1>
                        <h2>{{products[0].price}} €</h2>
                        <div class="arrow-up" id="arrowLeft" ></div>
                    </div> 
                </div>
                <div class="btnPackage col-xs-6">
                    <div class="btnPackageRight" ng-click="displayPackage('btnPackageRight')">
                        <h1>{{products[1].name}}</h1>
                        <h2>{{products[1].price}} €</h2>
                        <div class="arrow-up" id="arrowRight"></div>
                    </div> 
                </div>
            </article>
            <article class="row  ">
                <!-------------------- Package 1 -------------------->
                <div class="col-sm-4 col-xs-12 col-sm-offset-2 package-left " >
                    <article class="topSeller">
                        <img src="_/img/promo-bar-01.png" >
                        <h2 >Topseller</h2>
                    </article>
                    <div class="row clearfix">
                        <div class="col-md-12 package-title">
                            <h1>{{products[0].name}}</h1>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <ul class="features-icons">
                                <li class="logoIcon">
                                    <img src="_/img/logo.svg" >
                                    <span>Smartfrog<br>App</span>
                                </li>
                                <li class="cameraIcon">
                                    <img src="_/img/camera01.png">
                                    <span>Smartfrog HD<br>Kamera</span>
                                </li>
                                <li class="cloud">
                                    <img src="_/img/cloud.svg" >
                                    <span>24 Std. <br>Video-Speicher</span>
                                </li>
                            </ul>
                        </div>
                    </div><!--features-icons-->
                    <div class="row featured-list-01">
                        <ul class="featured-list">
                            <li class="checked">Live-Video rund um die Uhr</li>
                            <li class="checked">Video-Speicherung </li>
                            <li><small>der jeweils letzten 24 Stunden</small></li>
                        </ul>
                    </div> <!--   featured-list-01  -->
                    <div class="row featured-list-02">
                        <ul class="featured-list">
                            <li class="checked">Monatlich kündbar</li>
                            <li class="checked">Keine Einrichtungskosten</li>
                            <li class="checked">Kostenloser Versand</li>
                        </ul>
                    </div> <!--   featured-list-02  -->
                    <div class="row call-action">
                        <div class="row" >
                            <div class="col-sm-12 moreDetails">Mehr Details</div>

                            <div class="col-sm-12  price "><small>nur</small> 4,<sup>95</sup>€ <small>im Monat<sup>1</sup></small> </div>

                            <div class="col-sm-12 cta"> 
                                <button class=" cta-btn" ng-click="addToCard(products[0].id)" >Jetzt kaufen</button>
                            </div>
                            <div class="topSellerMobile"><h1>Topseller</h1></div>

                        </div>
                    </div> <!-- call-action -->
                </div><!-- End Package 1 -->

                <!-------------------- Package 2 -------------------->
                <div class="col-sm-4 col-xs-12  package-right" >
                    <article class="topSeller notActive">
                        <img src="_/img/promo-bar-01.png"  >
                        <h2 >Topseller</h2>
                    </article>
                    <div class="row clearfix">
                        <div class="col-md-12 package-title">
                            <h1>{{products[1].name}}</h1>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <ul class="features-icons">
                                <li class="logoIcon">
                                    <img src="_/img/logo.svg" >
                                    <span>Smartfrog<br>App</span>
                                </li>
                                <li class="cameraIcon">
                                    <img src="_/img/camera01.png">
                                    <span>Smartfrog HD<br>Kamera</span>
                                </li>
                                <li class="cloud">
                                    <img src="_/img/cloud.svg" >
                                    <span>4 Std. <br>Video-Speicher</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row featured-list-01">
                        <ul class="featured-list">
                            <li class="checked">Live-Video rund um die Uhr</li>
                            <li class="checked">Video-Speicherung </li>
                            <li><small>der jeweils letzten 4 Stunden</small></li>
                        </ul>
                    </div> <!-- featured-list-01  -->

                    <div class="row featured-list-02">
                        <ul class="featured-list">
                            <li class="checked">Kein Abo</li>
                            <li class="checked">Keine Einrichtungskosten</li>
                            <li class="checked">Zzgl. Versandkosten</li>
                        </ul>
                    </div> <!-- featured-list-02  -->

                    <div class="row call-action">
                        <div class="row" >
                            <div class="col-sm-12 moreDetails">Mehr Details</div>
                            <div class="col-sm-12  price "><small>nur</small> 99€ <small>im Monat<sup>1</sup></small></div>
                            <div class="col-sm-12 cta"> 
                                <button class=" cta-btn" ng-click="addToCard(products[1].id)">Jetzt kaufen</button>
                            </div>
                        </div>
                    </div> <!-- call-action -->
                </div><!-- End Package 2 -->
            </article>
            <!-----------------------------------------------------------------> 
        </section>
        <div class="clearfix"></div>
        <!--------------------Shopping Card Section-------------------->

        <section class="container ">
            <article class="row shopping-card">
                <div class="table-responsive">
                    <table  class="table shopping-card-list">

                        <thead class="table-head">
                        <th class="article " >Artikel</th>
                        <th class="details ">Details</th>
                        <th class="pk-quantity ">Anzahl</th>
                        <th class="prices">Preis</th>
                        </thead>

                        <tbody class="table-container">
                            <tr ng-repeat="record in shoppingcard">
                                <td class="article"><img src="_/img/camera01.png"/>
                                    <span>{{record.name}}</span> 
                                    <p class="details-description">{{record.description}}</p>
                                    <p class="details-special">{{record.bundel}}</p>
                                    <div class="mobileItemDetails">

                                        <div class="mobile-qty "><span class="subItem" ng-click="removeOne(record)">-</span><span class="showItem">{{record.qty}}</span><span class="addItem" ng-click="addOne(record)">+</span></div>
                                        <div class="mobile-price ">{{record.price}}€</div>
                                    </div>
                                </td>
                                <td class="details">
                                    <p class="details-description">{{record.description}}</p>
                                    <p class="details-special">{{record.bundel}}</p>
                                </td>
                                <td class="pk-quantity">
                                    <select class="qty" ng-model="record.qty" ng-init="record.qty"   ng-change="onChangeQty(record.id,record.qty)" ng-options="n for n in [1,2,3,4,5,6,7,8,9,10] "></select>
                                </td>
                                <td class="prices "><span>{{record.price}}€ </span> <div class="remove-item"  ng-click="removeFromCard(record.id)"><img src="_/img/close.png"/></div></td>

                                
                             
                                
                            </tr>

                        </tbody>

                    </table>

                </div>
            </article>
            <article class="row checkout">

                <div class="pull-right col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-12">
                    <div class="row">

                        <table  class="table checkout-summery">
                            <tr class="oneTimeCharge">
                                <td class="textTitle">Einmalige Kosten</td>
                                <td class="amount">{{scOneTimeCharge| currency : "€" : 2}} </td>
                            </tr>
                            <tr  class="monthlyCharge">
                                <td class="textTitle">Monatliche Kosten</td>
                                <td class="amount">{{scMonthlyCharge| currency : "€" : 2}} </td>
                            </tr>
                            <tr  class="subtotal">
                                <td class="textTitle">Zwischensumme</td>
                                <td class="amount">{{scSubTotalCharge| currency : "€" : 2}} </td>
                            </tr>
                            <tr  class="shipping">
                                <td class="textTitle">Versandkosten</td>
                                <td class="amount">{{scShippingCharge| currency : "€" : 2}} </td>
                            </tr>
                            <tr  class="total">
                                <td class="textTitle">Gesamtsumme</td>
                                <td class="amount">{{scTotalCharge| currency : "€" : 2}} </td>
                            </tr>
                            <tr  class="vat">
                                <td colspan="2">inkl. MwSt. (20%) {{scVATCharge| currency : "€" : 2}} €</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="pull-left col-sm-4 col-xs-12">

                    <form name="form">
                        <input type="text" placeholder="Coupon-Code"   class="voucherInput">

                        <button  ng-click="" class="voucherBtn">Einlösen</button>

                    </form>
                </div>
                <div class="col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
                    <button class="checkout-btn" ng-click="">Zur Kasse gehen ></button>
                </div>
            </article>
        </section>

        <!-------------------- jQuery  & bootstrap libs-------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
        <script src="_/js/app.js" type="text/javascript"></script>
    </body>
</html>
