/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2016, 3:59:41 AM
    Author     : master
*/

body {
  font-family: $font-family-primary;
  /*font-size: 1.2rem;*/
  /*line-height: 160%;*/
  /*background: $paleyellow;*/
  /*color: $darkblue;*/

    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}